body {
  padding: 30px;
  font-family: "Aktiv Grotesk", sans-serif;
  text-align: center;
  background: linear-gradient(
    93.1deg,
    rgb(238, 254, 183) 19.1%,
    rgb(169, 254, 222) 53.9%,
    rgba(5, 94, 116, 0.59) 92%
  );
}

.rain-icon {
  color: rgb(255, 255, 255);
  margin: 15px;
  font-size: 60px;
  border: 1px solid #ffffff;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
.rain-icon:hover {
  transform: scale(1.2);
  color: #1d4f7a;
}

.weather-location {
  font-size: 35px;
  color: #1d4f7a;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.weather-date-location {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.weather-date {
  font-size: 15px;
  color: #1d4f7a;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  list-style: none;
  padding: 5px;
}

.temp {
  font-size: 35px;
  text-align: center;
  color: #1d4f7a;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
}

.temp-celsius,
.temp-farengeit {
  font-size: 15px;
  color: #1d4f7a;
  font-weight: 600;
  position: relative;
  top: -20px;
  text-align: center;
}

.all-border {
  border: 2px solid #ffffff;
  padding: 30px;
  border-radius: 15px;
  max-width: 450px;
  background-color: rgba(121, 73, 73, 0.165);
  text-align: center;
}

.search-form {
  margin: 10px;
  
}

.week-icon {
  font-size: 36px;
  text-align: center;
}

.card-title {
  color: #1d4f7a;
  font-size: 10px;
  text-align: center;
}
.card-text {
  color: #1d4f7a;
  font-size: 10px;
  text-align: center;
}

.btn-light {
  font-size: 10px;
  font-style: italic;
  color: #1d4f7a;
}
.fa-cloud {
  padding: 10px;
  color: rgba(91, 153, 153, 0.617);
}
.fa-cloud:hover {
  transform: scale(1.4);
  color: #1d4f7a;
}
.fa-cloud-bolt {
  padding: 10px;
  color: #868244b8;
}
.fa-cloud-bolt:hover {
  transform: scale(1.4);
  color: #1d4f7a;
}
.fa-smog {
  padding: 10px;
  color: rgba(142, 212, 205, 0.781);
}
.fa-smog:hover {
  transform: scale(1.4);
  color: #1d4f7a;
}
.fa-sun {
  padding: 10px;
  color: rgb(238, 238, 117);
}
.fa-sun:hover {
  transform: scale(1.4);
  color: #1d4f7a;
}
.fa-cloud-sun {
  padding: 10px;
  color: rgba(228, 153, 67, 0.918);
}
.fa-cloud-sun:hover {
  transform: scale(1.4);
  color: #1d4f7a;
}
.weather-week {
  margin: auto;
}
.allweek{
    justify-content: center;
}

.buttons:focus,
.buttons:hover {
  transform: scale(1.1);
  border: 2px solid #ffffff;
  background-color: #1d4f7a;
  justify-content: center;
  color: #fff;
  outline: none;
}

.searching {
  justify-content: center;
  color: #1d4f7a;
  
}


.mood {
  font-size: 15px;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
}

.fa {
  color: #fff;
  font-size: 18px;
}
.fa:hover {
  transform: scale(1.2);
  color: #1d4f7a;
}
.icon-details {
  letter-spacing: 4px;
  font-size: 15px;
  color: #1d4f7a;
  line-height: 0.5;
}
.temp-details > p > span,
.grey {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}


.search-icon {
  height: 25px;
  width: 25px;
  fill: #1d4f7a;
  position: absolute;
  margin-right: 50px;
  margin-left: 120px;
}
.search-icon:hover {
  transform: scale(1.2);
  fill: #ffffff;
}
